* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #F5F5F5;
}
header {
   padding: 37px 0px;
   margin-bottom: 47px;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #262626;
  text-decoration: none;
  padding: 10px;
}
.navigation {
  display: flex;
  gap:65px;
}
.button {
  width: 143.81px;
  height: 35.95px;
  left: 1098px;
  top: 42.17px;
  background: #4CE0D7;
  border-radius: 40px;
  border: none ;
 
}
.button:hover {
 background-color: #FFFFFF;
 border: solid 0.5px 	#000000;
}
h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #262626;
}
.container-small {
  max-width: 1270px;
  margin: 0 auto;
  background-image: url(./assets/image/pexels-andrea-piacquadio-994234\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 559px;
  border-radius: 20px;
  margin-bottom: 73px;
}
.lux-ventus-magazine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 218px;
  padding-left: 57px;
  gap: 22px;
}
h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.23em;
  color: #FFFFFF;
}
h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 69px;
  color: #FFFFFF;
}
h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  
  color: #262626;
}
.span {
  font-family: 'Poppins';
  font-weight:600;
  font-size: 50px;
  line-height: 69px;
  background: linear-gradient(to right,#4CE0D7,#8BA9F4);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.container-small p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  width: 492px;
}
.section {
  max-width: 1270px;
  margin: 0 auto;
}
.topics h2 {
  margin-bottom: 48px;
}
.topics-cards {
  display: flex;
  gap: 10px;
  margin-bottom: 87px;
}
.topic-card {
  width: 204px;
  height: 291px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 40px;
}
.button a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #262626;
  text-decoration: none;
}
.topic-card img {
  width: 90px;
  height: 90px;
}
hr {
  margin-bottom: 53px;
}
.fashion {
  background-color: #FFFFFF;
  border-radius: 20px;
}
.fashion-img {
  background-image: url(./assets/image/pexels-sabrina-kennelly-1857000\ 1.png);
  height:360px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.button-big {
  width: 233.95px;
  height: 36.49px;
  left: 165.27px;
  top: 1304.82px;
  background: #262626;
  border-radius: 40px;
  transform: matrix(1, -0.01, 0.01, 1, 0, 0);
  margin: 24px 923px 299px 48px;
  
}
.button-big:hover {
  background-color: #FFFFFF;
 border: solid 0.5px 	#000000;
}
.button-big a:hover {
  color: #000000;
}

.button-big a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.fashion-post {
  display: flex;
  justify-content:space-between;
  margin-top: 15px;
  margin-right: 64px;
  align-items: center;
  margin-bottom: 45px;
}
.malory-reyn {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 62px;
}
.malory-reyn img {
  border-radius: 50px;
}
.malory-reyn p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #BCBCBC;
  }
.coming-hot {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.24em;
  color: #F25E5E;
}
.fashion-post-text {
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fashion-post-text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  width: 1033px;
}
.read-more-common {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.read-more-common img {
  width: 21px;
  height: 13px;
}
.read-more-common p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.24em;
  color: #4CE0D7;
}
.read-more-common {
  margin-bottom: 38px;
}
.fashion-post-container {
  margin-bottom: 97px;
}
.trending-header {
  margin-bottom: 55px;
}
.trending-card {
  background-color:#FFFFFF;
  width: 579px;
  height: 670px;
  border-radius: 20px;
  position: relative;
}
.button-small {
  width: 180.44px;
  height: 36.49px;
  background: #262626;
  border-radius: 40px;
  padding: 10px 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  position:absolute;
  left: 10px;
  top: 15px;
}
.button-small:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: #000000 1px solid;
}
.trending-img {
  border-radius: 20px;
  width: 579px;
}
.malory-reyn-1 {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: 24px;
  padding-top: 15px;
  padding-bottom: 28px;
}
.malory-reyn-1 img {
  border-radius: 50px;
}
.malory-reyn-1 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #BCBCBC;
  margin-right: 100px;
  
}
.trending-card-input {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin-left: 34px;
  gap:30px
}
.trending-card-input-paragraph {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}
.trending-cards {
  display: flex;
  gap: 60px;
  margin-bottom: 88px;
}
.news-card {
  position: relative;
  display: flex;
  background: #FFFFFF;
  width: 1204px;
  height: 367px;
  border-radius: 20px;
  gap: 45px;
}
.news-card-img {
border-radius: 20px;
}
.common-div {
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.news-card-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 69px;
}